.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #131313;
    margin: auto;
  }
  
  @media screen and (min-width: 768px) {
    .login-container {
      background-image: url('https://res.cloudinary.com/dsiyffj0o/image/upload/v1670748736/netfilx_1_eatqpj.png');
      background-size: cover;
      min-height: 100vh;
    }
  }
  
  .login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .website-logo {
    width: 200px;
    align-self: flex-start;
     margin-top: 30px; 
    margin-bottom: 100px;
    margin-left: 80px;
  }
  
  .heading-login {
    color: #ffffff;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    align-self: flex-start;
    font-family: 'Roboto';
  }
  @media screen and (min-width: 768px) {
    .heading-login {
      font-family: 'HK Grotesk';
      align-self: center;
    }
  }
  
  .input-label {
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #475569;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }
  
  .input-field {
    font-size: 14px;
    height: 40px;
    border: 1px solid #333333;
    background-color: #333333;
    color: #64748b;
    border-radius: 2px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    outline: none;
  }
  
  .login-btn {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: #e50914;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .error-msg {
    align-self: start;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 16px;
    color: #dc2626;
  }