@import "../../mixins.scss";

.account-container {
  min-height: 98vh;
  padding: 10px 30px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--black);
}
.heading{
  color: white;
}

.hz-line {
  border: none;
  border-top: 3px solid #cbd5e1;
  border-radius: 10px;
  margin-bottom: 24px;
}

.membership-container {
  margin-bottom: 24px;
  display: flex;
  align-items: flex-start;
}

.member-details {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: white;
  margin-right: 11px;
}

.username {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: white;
  margin-bottom: 6px;
}
.password {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: white;
}
.password-container {
  display: flex;
  align-items: center;
}
.plan-details-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.plan-type {
  font-family: "Roboto";
  margin-left: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  padding: 2px 4px;
  height: 22px;
  width: 64px;
}

.logout-btn {
  font-family: "Roboto";
  height: 50px;
  width: 89px;
  background: #e50914;
  border-radius: 4px;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-self: center;
  border: none;
  margin-top: 24px;
  cursor: pointer;
  outline: none;
}
@media (min-width: 768px) {
  .account-container {
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 105px;
  }

  .heading {
    margin-bottom: 24px;
  }

  .member-details {
    margin-right: 24px;
    font-size: 24px;
    line-height: 31px;
  }

  .username {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 13px;
  }

  .password {
    font-size: 24px;
    line-height: 31px;
  }

  .plan-type {
    font-size: 18px;
    line-height: 23px;
    width: 79px;
    height: 27px;
  }

  .logout-btn {
    margin-top: 40px;
  }
}
